
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        width: 100%;
        overflow: hidden;
    }

    .container-fluid {
        padding: 0px;
    }

    #page-wrapper {
        padding: 0px;
    }
</style>
<div class="fixed-bottom">
    <img src="~/Image/Admin.png" />
    <img />
</div>


